<h1> Rob Owen </h1>
<img src="http://www.comicvine.com/images/1300-3448650" />
<h2> I work as a Software Analysis and Validation Engineer </h2>
<p> My ultimate goal is to work for a software company performing a role that is both quality and development.
How better to accomplish this task that to learn programming, preferrably in multiple languages.</p>
<a href="http://twitter.com/yourtwittername"> My twitter! </a>
