<h1> Welcome to my Linked In profile! <h1>
  <div class="profile">
  <h1> Rob Owen </h1>
  <h2> I work as a Software Analysis and Validation Engineer </h2>
  <p> My ultimate goal is to work for a software company performing a role that is both quality and development.
  How better to accomplish this task that to learn programming, preferrably in multiple languages.</p>
  <a href="https://www.linkedin.com/profile/view?id=27336101"> My Linked In! </a>
  </div>
  <img src="Bumblebee Robots.jpg" 
       style="margin-left: 10px"/>

  <h1> Send me a text message...</h1>
<form action="/" method="post">
  <input type="submit" value="Enter your number and Click to Send SMS" />
  <input id="sms" name="sms" type="text" value="(without dashes)" />
</form> 