<!doctype html>
 <html>
   background: url('the-img-url') no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

   <head>
   <link rel="stylesheet" href="style.css" />
   </head>
   <body>
     <%= yield %>
   </body>
 </html>