.profile {
  background: lightgray;
  padding: 10px;
  marging: 10px;
  text-align: center;
}

html{
  background: url(https://www.flickr.com/photos/armgov/4690896975) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}